.head{
text-align: center;
color: red;
}
.navbar{
   

}
.navbar ul{
    display: flex;
    text-decoration: none;
    text-align: center;
justify-content: center;
justify-content: space-evenly;}
    
.navbar li{
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
.main_site img{
    width: 1500px;

}
